<link rel="stylesheet" href="/assets/fontawesome/css/font-awesome.min.css">
<div class="container">
  <div class="button-box">
    <button [routerLink]="['/music/home']">  <i class="fa fa-arrow-left" aria-hidden="true"></i> <i class="fa fa-user" aria-hidden="true" id="user"></i> </button>
  </div>
  <div class="logo-box"></div>
</div>
<!-- https://fontawesome.com/v4/icons/ aqui encontrar el icono -->
<!-- <i class="fa fa-arrow-left" aria-hidden="true"></i> -->
<!-- <i class="fa fa-chevron-left" aria-hidden="true"></i>  -->
