<div class="container">
  <div class="title">
    <h2>Te damos la Bienvenida</h2>
  </div>
  <div class="options">
    <h3>Busca tus artistas y música</h3>
    <button id="alfabeto" (click)="enviarBuscadorLetra()">Alfabeto</button>
    <button id="buscador" (click)="enviarBuscadorArtista()">Buscador</button>
  </div>
  <div class="img"></div>
  <div class="close">
    <button id="cerrar" (click)="closeSession()">Cerrar Sesion <i class="fa fa-sign-out" aria-hidden="true"></i>
    </button>
  </div>
</div>
<!-- (click)="enviarBuscadorLetra()" -->
<!-- (click)="enviarBuscadorArtista()" -->
